<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1050894569016-kkoce70cte4s7495nc00n8fcrloj8ode.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1050894569016-kkoce70cte4s7495nc00n8fcrloj8ode</string>
	<key>API_KEY</key>
	<string>AIzaSyDjRjtwuIVKbuJ0nWMe0xi0-5a7I0GwmpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1050894569016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smavio</string>
	<key>PROJECT_ID</key>
	<string>smavio-player-1b4cb</string>
	<key>STORAGE_BUCKET</key>
	<string>smavio-player-1b4cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050894569016:ios:d576f6e6a787b051dee0cd</string>
</dict>
</plist>